:root {
    font-family: 'Hanken Grotesk' !important;  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
    background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



button {
    outline: none!important;
}

.icon-button {
    width:42px!important; 
    height: 42px!important;
    position: relative;
    border-radius: 50%;
    outline: none!important;
    border: none!important;
    background-color: #f0f0f0;
    color: #505050;
    transition: all 150ms ease-in-out;
    cursor: pointer;

}
.icon-button:hover {
    background-color: #e0e0e0!important;
    color: #303030;
    transition: all 150ms ease-in-out;
}

.icon-button i {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 18px;
}
.icon-button-selected {
    color: white; 
    background-color: #BB2D1B!important;
}
.icon-button-selected:hover {
    color: white!important;
    background-color: #BB2D1BCC!important;
}



.button-disabled {
    opacity: .35;
    pointer-events: none!important;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
 /* overflow: hidden!important; */
 position: relative;
 width: 100%; 
 height: 100vh;
 margin: 0px!important;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



span {
    color: #303030
}

.action-button {
  
    background-color: #BB2D1B;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: white;
    font-weight: 700;

    border-radius: 25px;
    height: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none !important
}

.action-button i {
    margin-left: 10px;
        margin-right: 10px;
    font-size: 18px;
    border: none !important
}




.action-button:hover {
    background-color: #BB2D1BDD;
    transition: all 100ms ease-in-out;
}